# The minimal .npmrc settings to make npm behave securely
# https://zenn.dev/cycloud_blog/articles/5ce66daf4bd0cb#%E3%82%88%E3%82%8A%E5%8E%B3%E6%A0%BC%E3%81%AB%E3%81%99%E3%82%8B%E3%81%AA%E3%82%89%E6%A4%9C%E8%A8%8E%E3%81%97%E3%81%9F%E3%81%84%E8%A8%AD%E5%AE%9A
engine-strict=true
ignore-scripts=true
audit=true
min-release-age=1
save-exact=true
audit-level=high
strict-peer-deps=true
allow-git=root
